body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    border: none;
    text-align: center;
}

.btn {
    margin-top: 15px;
}